= form_with model: @lesson, local: true do |f|
  = render 'shared/error_messages', model: @lesson
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :date_from
    = f.datetime_field :date_from, class: 'form-control'
  .form-group
    = f.label :date_to
    = f.datetime_field :date_to, class: 'form-control'
  .form-group
    = f.label :url
    = f.text_field :url, class: 'form-control'
  .form-group
    = f.label :language_id
    = f.select :language_id, Language.all.map { |lang| [lang.name, lang.id] }, {prompt: t('shared.select.prompt')}, class: 'form-control'
  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control-file'
  .form-group
    = f.submit t('shared.buttons.create'), class: 'btn btn-primary'
    