= provide(:title, t('.title'))
%h1.text-center
  = t('.list')
.row.pt-5
  - @lessons.each do |lesson|
    .col-sm-6.col-md-3
      .card.h-100
        .card-img-top
          - if lesson.image?
            = image_tag lesson.image.url(:thumb), alt: 'lesson_image'
          - else
            %img{src: (asset_pack_path 'media/images/no_image.png')}
        .card-body.px-2.py-3
          %h5.card-title
            = lesson.name
          %p.card-text
            = lesson.language.name
          %p.card-text
            = lesson.tutor
          %p.mb-0
            %a.btn.btn-success.btn-sm{ href: '#'}
              = t('.detail')
- if !@lessons.any?
  = render 'shared/no_result', name: t('.name')