= provide(:title, t('.title'))
%h1= t('.title')
.row.lesson_detail
  .col-sm-12.col-md-6
    - if @lesson.image?
      = image_tag @lesson.image.url, alt: 'lesson_image'
    - else
      %img{src: (asset_pack_path 'media/images/no_image.png')}
  .col-sm-12.col-md-6
    %p
      = t('lessons.shared.label.name', name: @lesson.name)
    %p
      = t('lessons.shared.label.tutor', name: @lesson.tutor.name)
    %p
      = t('lessons.shared.label.language', name: @lesson.language.name)
    %p
      = t('lessons.shared.label.date_from', name: l(@lesson.date_from, format: :short))
    %p
      = t('lessons.shared.label.date_to', name: l(@lesson.date_to, format: :short))
.pt-3
  = link_to t('shared.buttons.back'), :back
